.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bground-img.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  @include font(44px, 900, 60px);
  color: var(--white-color);

  letter-spacing: var(--letter-spacing-secondary);
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__button {
  font-weight: var(--font-waight-bold);
  font-size: var(--font-size-secondary);
  line-height: 1.88;
  letter-spacing: var(--letter-spacing-secondary);
  transition: background-color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
