.button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  cursor: pointer;
  background-color: var(--accent-text-color);
  color: var(--white-color);
  font-family: var(--primary-font-family);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}
