@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow-y: scroll;
    background-color: #ffffff;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-duration) var(--transition-timing-function),
      box-shadow var(--transition-duration) var(--transition-timing-function);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: relative;
  }

  .mobile-menu-content {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 25px;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;

    &:hover,
    &:focus {
      fill: var(--accent-text-color);
    }
  }

  .mobile-menu-list__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu-list__link {
    color: var(--title-text-color);
    @include font(40px, 500, 47px);
    letter-spacing: 0.02em;
    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }

  .mobile-menu-address {
    margin-top: 306px;
  }

  .mobile-menu-address__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu-address__link {
    @include font(24px, 500, 28px);
    color: #757575;
    letter-spacing: 0.02em;
    transition: color var(--transition-duration) var(--transition-timing-function),
      font-size var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      color: var(--accent-text-color);
      @include font(34px, 500, 40px);
    }
  }

  .mobile-menu-social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    gap: 20px;
  }

  .mobile-menu-social__link {
    @include font(18px, 500, 22px);
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
  }
}
